:root {
    /*Color*/
    --color-red : red;
    --color-dark-grey : #747474;
    --color-black : black;
    --color-white : #EDEDED;
    --color-blue : #0054FF;
    /*Size*/
    --space : 15px;
    /*Font Size*/
    --size-l: 17px;
    --size-m: 15px;
    --size-s: 12px;
    --size-ss: 10px;
}

* {
    padding: 0;
    margin:0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    padding : 8px 10px;
    background-color: var(--color-black);
}

header div {
    color : var(--color-white);
}

header .logo i {
    color: var(--color-red);
}

header .icon i {
    padding: 0 5px;
}

section .player {
    width: 100%;
}

section .player .video{
    width: 100%;
}

section.info {
    padding: 8px 10px;
}
section.info .metadata{
    margin-bottom: var(--space);
}
section.info .metadata .hashTag{
    display: flex;
}
section.info .metadata .hashTag li{
    color: var(--color-blue);
    font-size: var(--size-s);
    margin-right: calc(var(--space)/2);
}

section.info .metadata .titleAndButton{
    display: flex;
}

section.info .metadata .titleAndButton .title {
    font-size: var(--size-m);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-right: 10px;
}
section.info .metadata .views {
    font-size: var(--size-s);
    color:var(--color-dark-grey);
}

section.info .actions{
    display: flex;
    justify-content: space-between;
    color: var(--color-dark-grey);
}

section.info .actions li button{
    display: flex;
    flex-direction: column;
}

section.info .actions li button i{
    margin: 0 auto;
    font-size: var(--size-m);
    margin-bottom: calc(var(--space)/2);
}