<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch4.dao.BoardMapper">
    <select id="select" parameterType="int" resultType="BoardDto">
        select bno, title, content, writer, view_cnt, comment_cnt, reg_date, up_date
        from board
        where bno = #{bno};
    </select>

    <select id="count" resultType="int">
        select count(*) from board
    </select>
    
    <insert id="insert" parameterType="BoardDto">
        insert into board (title,content, writer)
        values (#{title},#{content},#{writer})
    </insert>
    
    <update id="update" parameterType="BoardDto">
        update board set title = #{title},
                         content = #{content},
                         up_date = now()
                    where bno=#{bno} and writer = #{writer}
    </update>

    <delete id="delete">
        delete from board where bno = #{bno} and writer = #{writer}
    </delete>

    <select id="selectAll" resultType="BoardDto">
        select bno, title, content, writer, view_cnt, comment_cnt, reg_date
        from board
        order by reg_date desc, bno desc
    </select>

    <select id="selectPage" parameterType="map" resultType="BoardDto">
        select bno, title, content, writer, view_cnt, comment_cnt, reg_date
        from board
        order by reg_date desc, bno desc
        limit #{offset}, #{pageSize}
    </select>

    <update id="increaseViewCnt" parameterType="int">
        update board set view_cnt = view_cnt+1
        where bno = #{bno}
    </update>

    <delete id="deleteAll">
        delete from board
    </delete>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="BoardDto">
        select bno, title, content, writer, view_cnt, comment_cnt, reg_date
        from board
        where title like concat('%', #{keyword},'%')
        order by reg_date desc, bno desc
            limit #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        select count(*)
        from board
        where title like concat('%', #{keyword},'%')
    </select>
</mapper>